---
import { getCollection } from "astro:content";

const apiFoods = await getCollection("apiFood");
console.log("Data from getCollection:", apiFoods);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="container py-4">
		<div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 items-start">
			<pre>{JSON.stringify(apiFoods, null, 2)}</pre>
		</div>
	</body>
</html>
