---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
const h1 = "Онлайн оплата";
const title = "Онлайн оплата | Аренда авто в Крыму Car on Time";
const description =
	"Онлайн оплата | Взять напрокат автомобиль, Крым компания CAR ON TIME. Аренда - это удобный вариант передвижения по Крыму.";
---

<Layout title={title} description={description} h1={h1}>
	<div
		class="grid gap-4 p-2 grid-cols-[repeat(auto-fit,minmax(300px,1fr))] mx-auto container"
	>
		<ul class="mt-2 flex flex-col gap-4">
			<li>
				<h2 class="py-2 font-bold text-3xl">Банковские реквизиты</h2>
				<p>
					Вы можете осуществить платеж самостоятельно, воспользовавшись
					банковскими реквизитами удобного для вас банка.
				</p>
			</li>
			<li>
				<img src="/vtb.svg" alt="ВТБ" />
				<p>Номер карты ВТБ уточняйте у менеджера</p>
			</li>

			<li>
				<img src="/alfa.svg" alt="Альфа" />
				<p>Номер в системе Альфа-Клик уточняйте у менеджера</p>
			</li>

			<li>
				<img src="/sber.svg" alt="Сбер" />
				<p>Номер карты Сбербанк уточняйте у менеджера</p>
			</li>

			<li>
				<img src="/sber.svg" alt="Сбер" />
				<p>Номер для СМС-перевода уточняйте у менеджера</p>
			</li>
		</ul>
		<ul class="mt-2 flex flex-col gap-4">
			<li>
				<h2 class="py-2 font-bold text-3xl">Электронные деньги</h2>
				<p>
					Дорогие клиенты, теперь у Вас есть возможность оплатить наши услуги с
					помощью электронных денег <strong
						>«Яндекс-деньги», «QIWI», «Webmoney»</strong
					>
				</p>
			</li>
			<li>
				<img src="/yd.svg" alt="Яд" />
				<p>Оплата со счета в Яндекс.Деньгах</p>
			</li>
			<li>
				<img src="/wb.svg" alt="ВМ" />
				<p>Оплата cо счета WebMoney</p>
			</li>
			<li>
				<img src="/wb.svg" alt="ВМ" />
				<p>Мы принимаем WebMoney</p>
			</li>
			<li>
				<img src="/qiwi.svg" alt="Киви" />
				<p>Оплата cо счета QIWI</p>
			</li>
		</ul>
	</div>
</Layout>
<style>
	ul {
	}
	img {
		width: 210px;
		background: #fff;
		padding: 20px;
	}
	.mt-2 li {
		background: #ededed;
		padding: 20px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;
		align-items: center;
	}
	@media (min-width: 768px) {
		ul {
			grid-template-columns: 1fr 1fr;
		}
	}
</style>
