---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1>Отправка POST-запроса</h1>
	<button id="sendRequest">Отправить запрос</button>
	<pre id="response"></pre>

	<script>
		document.getElementById("sendRequest").addEventListener("click", () => {
			const data = new FormData();

			// Обязательные поля
			data.append("accept", "1");
			data.append("data[phone]", "+79099999009");
			data.append("data[name]", "Тест");
			data.append("data[surname]", "Тест");
			data.append("data[email]", "test@test.com");
			data.append("data[pick_up_datetime]", "14.12.2024 12:00");
			data.append("data[drop_off_datetime]", "19.12.2024 10:00");
			data.append(
				"data[vendor_vehicle_id]",
				"b1cc4440-7ef7-11ee-b143-2cfda1c62158",
			);
			data.append("data[cost_per_day]", "1000");
			data.append("data[pick_up_location_id]", "84");
			data.append("data[drop_off_location_id]", "84");
			data.append("data[currency][id]", "1");
			data.append("data[cost_total]", "2000");
			data.append(
				"full_data",
				JSON.stringify({
					info: {
						pick_up_location_id: 84,
						drop_off_location_id: 84,
					},
					extras: {},
					vehicle: {},
					equipment: {},
				}),
			);

			const xhr = new XMLHttpRequest();
			xhr.open("POST", "https://mycarrental.ru/api/v1/order/store", true);

			// Устанавливаем заголовок авторизации
			xhr.setRequestHeader("Authorization", "Bearer ILup4Hh8B7degUc01nHx6js5");

			xhr.onload = function () {
				if (xhr.status >= 200 && xhr.status < 300) {
					document.getElementById("response").innerText =
						`Response: ${xhr.responseText}`;
				} else {
					document.getElementById("response").innerText =
						`Error: ${xhr.status} ${xhr.statusText}`;
				}
			};

			xhr.onerror = function () {
				document.getElementById("response").innerText = "Request failed.";
			};

			xhr.send(data);
		});
	</script>
</Layout>
