---
import { Picture } from "astro:assets";

// Получаем путь из свойств компонента
const { path, position = "center center", opacity = 50 } = Astro.props;
---

<section class="relative">
	<Picture
		src={path}
		formats={["avif", "webp"]}
		alt="Car on time"
		class="background"
		style={`object-position: ${position}; filter: brightness(${opacity}%);`}
	/>
	<slot />
</section>

<style>
	.background {
		position: absolute;
		z-index: 0;
		display: inline-block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>
