<div
	class="bg-[#1e2933] py-8 border-b border-b-dashed border-b-white text-white mt-8"
>
	<div
		class="grid gap-4 p-2 grid-cols-[repeat(auto-fit,minmax(300px,1fr))] mx-auto container"
	>
		<div class="flex flex-col text-2xl">
			ЗАБРОНИРУЙ АВТОМОБИЛЬ <strong class="text-3xl font-black"
				>ПРЯМО СЕЙЧАС!</strong
			>
		</div>
		<form
			method="get"
			action="/search"
			class="flex gap-4 items-center justify-center flex-wrap"
		>
			<div class="flex flex-col gap-2">
				<label for="from-id">Место получения:</label>
				<select name="from-id" id="from-id" required class="p-2 text-black">
					<option value="10">Симферополь Аэропорт</option>
					<option value="10">Симферополь Вокзал</option>
					<option value="10">Симферополь Центр</option>
				</select>
			</div>
			<div class="flex flex-col gap-2">
				<label for="from-date">Дата получения:</label>
				<input
					type="date"
					id="from-date"
					name="from-date"
					required
					class="p-2 text-black"
				/>
			</div>
			<button
				type="submit"
				class="bg-red-600 px-4 py-2 cursor-pointer uppercase self-end"
				>НАЙТИ АВТОМОБИЛЬ</button
			>
		</form>
	</div>
</div>
<script>
	function setDefaultDate() {
		const input = document.getElementById("from-date") as HTMLInputElement;
		const currentDate = new Date();
		currentDate.setDate(currentDate.getDate() + 3); // Добавляем 3 дня

		const year = currentDate.getFullYear();
		const month = String(currentDate.getMonth() + 1).padStart(2, "0");
		const day = String(currentDate.getDate()).padStart(2, "0");

		const formattedDate = `${year}-${month}-${day}`;
		input.value = formattedDate; // Устанавливаем значение по умолчанию
		input.min = formattedDate; // Устанавливаем минимальную дату
	}

	// Вызов функции при загрузке страницы
	setDefaultDate();
</script>
