---
import orig from "@img/orig.png";
import Background from "./Background.astro";
import Modal from "@xexiu/astro-modal";
import Form from "./Form.astro";
---

<Background path={orig}>
	<div
		class="z-10 relative flex items-center justify-center text-center flex-col gap-y-6 py-4 lg:py-36 lg:transform lg:-translate-x-1/4"
	>
		<p class="text-4xl font-black text-white drop-shadow-md">
			АРЕНДА АВТО В КРЫМУ
		</p>
		<p class="text-3xl lg:text-5xl font-black text-red-600">
			+7 (978) 955-60-60
		</p>
		<p class="text-2xl text-white drop-shadow-md">
			Стойка в терминале аэропорт Симферополь
		</p>
		<div class="flex gap-4">
			<Modal id="owod" ariaLabel="owod" btnCloseAriaLabel="Close Modal">
				<div slot="open-modal-button" class="order-button">
					Авто без водителя
				</div>

				<h2 slot="modal-title" class="mx-auto mb-4 text-3xl font-bold">
					Заказ авто без водителя
				</h2>

				<div slot="modal-main">
					<p class="text-xl font-semibold mb-4">
						Укажите свои данные для заказа автомобиля
					</p>
					<Form />
				</div>

				<div slot="modal-footer" class="text-xl my-4">
					После отправки формы с Вами свяжется наш менеджер, и уточнит детали
					заказа
				</div>
			</Modal>
			<Modal id="owd" ariaLabel="owd" btnCloseAriaLabel="Close Modal">
				<div slot="open-modal-button" class="order-button">
					Авто с водителем
				</div>

				<h2 slot="modal-title" class="mx-auto mb-4 text-3xl font-bold">
					Заказ авто с водителем
				</h2>

				<div slot="modal-main">
					<p class="text-xl font-semibold mb-4">
						Укажите свои данные для заказа автомобиля
					</p>
					<Form />
				</div>

				<div slot="modal-footer" class="text-xl my-4">
					После отправки формы с Вами свяжется наш менеджер, и уточнит детали
					заказа
				</div>
			</Modal>
		</div>
	</div>
</Background>

<style>
	/*:global(dialog) {
		top: 0%;
	}*/
	.order-button {
		padding: 10px 20px;
		color: white;
		background-color: #1e2933;
		text-decoration: none;
		border-radius: 8px;
		transition: background-color 0.6s;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 5px;
		display: inline-block;
	}
	.order-button:hover {
		background-color: #dc2626;
		color: white;
		cursor: pointer;
	}
</style>
