---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/700.css";
import "@fontsource/roboto/900.css";
const { title, description, h1, showTitle = true } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content={description ||
				"Взять напрокат автомобиль, Крым компания CAR ON TIME. Аренда - это удобный вариант передвижения по Крыму."}
		/>
		<title>{title || "Аренда авто в Крыму Car on Time"}</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<Header />
		<main class="flex-grow relative">
			{
				showTitle && (
					<h1 class="text-3xl font-bold shadow-up py-8 relative decorated-title uppercase">
						{h1}
					</h1>
				)
			}
			<slot class="sm:px-4" />
		</main>
		<Footer />
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			(function (m, e, t, r, i, k, a) {
				m[i] =
					m[i] ||
					function () {
						(m[i].a = m[i].a || []).push(arguments);
					};
				m[i].l = 1 * new Date();
				for (var j = 0; j < document.scripts.length; j++) {
					if (document.scripts[j].src === r) {
						return;
					}
				}
				(k = e.createElement(t)),
					(a = e.getElementsByTagName(t)[0]),
					(k.async = 1),
					(k.src = r),
					a.parentNode.insertBefore(k, a);
			})(
				window,
				document,
				"script",
				"https://mc.yandex.ru/metrika/tag.js",
				"ym",
			);

			ym(99182101, "init", {
				clickmap: true,
				trackLinks: true,
				accurateTrackBounce: true,
				webvisor: true,
			});
		</script>
		<noscript
			><div>
				<img
					src="https://mc.yandex.ru/watch/99182101"
					style="position:absolute; left:-9999px;"
					alt=""
				/>
			</div></noscript
		>
		<!-- /Yandex.Metrika counter -->
	</body>
</html>

<style is:global>
	body {
		color: #1f3852;
		font-size: 18px;
		font-family: "Roboto";
	}
	.shadow-up {
		box-shadow: 0px -4px 10px -2px rgb(0 0 0 / 0.1) inset;
		/*text-shadow: 1px 1px 2px rgb(66, 68, 90);*/
	}
	.decorated-title {
		position: relative;
		text-align: center; /* Выравнивание по центру */
	}

	/*.decorated-title::before,
	.decorated-title::after {
		content: "";
		border-bottom: 1px solid #1f3852;
		border-top: 1px solid #1f3852;
		width: 40px;
		height: 0.1em;
		position: absolute;
		top: 40%;
	}

	.decorated-title::before {
		margin-left: -50px;
	}

	.decorated-title::after {
		margin-left: 10px;
	}*/
</style>
